h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-style: normal;
  color: #434455;
}
.section {
  padding: 120px 0;
}
h3 {
  font-weight: 500;
}
/* Header */
.header-main {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo {
  color: #2e2f42;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  /* justify-content: right; */
}

.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.header-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus {
  color: #404bbf;
}

.header-link:active {
  text-decoration: underline;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contact {
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}
.contact:hover {
  color: #404bbf;
}
.ul-li {
  width: calc((100%-72px) / 4);
}
.contact:focus {
  color: #404bbf;
}
/* Main */
.adv-list {
  display: flex;
  gap: 24px;
}
.subtitle {
  line-height: 1.11;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* section - 1 */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
  max-width: 496px;
}

.butt {
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
}

.butt:hover {
  background-color: #404bbf;
}

.butt:focus {
  background-color: #404bbf;
}
/* section - 2 */
.advantages {
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.adv-about {
  letter-spacing: 0.02em;
}

/* section - 3 */
.cards {
  display: flex;
  gap: 24px;
}
.team {
  background-color: #f4f4fd;
}
.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100%-72px) / 4);
}

.gerous {
  text-align: center;
  padding: 32px 0;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-par {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  line-height: 1.5;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.port-info {
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.port-items {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.ft-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Ralaway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
}
